{% extends 'base.html.twig' %}

{% block title %}puzzle 3 x 3{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('puzzleGame') }}
{% endblock %}

{% block body %}
    <main class="puzzle">
        1
    </main>

{% endblock %}

{% block javascripts %}
{{ parent() }}
    {{ encore_entry_script_tags('puzzleGame') }}
{% endblock %}
