{% extends 'base.html.twig' %}

{% block title %}GameOne{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('puzzleGameOne') }}
{% endblock %}

{% block body %}

    <main id="main" class="main">
        <div id="gameBox" class="gameOneControll">
            <div class="gameOneControll__desc">
                <span class="gameOneControll__desc--col1">col1</span>
                <span class="gameOneControll__desc--col2">col2</span>
                <span class="gameOneControll__desc--col3">col3</span>
                <span class="gameOneControll__desc--col4">col4</span>
            </div>
            <div id="board" class="gameOneControll__board"></div>
            <div class="gameOneControll__btn">
                <button id="btnLeft" class="gameOneControll__btn--left">L</button>
                <button id="btnChange" class="gameOneControll__btn--color">Change</button>
                <button id="btnRight" class="gameOneControll__btn--left">R</button>
            </div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('puzzleGameOne') }}
{% endblock %}
