{% extends 'base.html.twig' %}

{% block title %}GameOne{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('puzzleGameOne') }}
{% endblock %}

{% block body %}

    <main id="main" class="main">
        <div id="gameBox" class="gameOneControll">
            <div class="gameOneControll__title">
                <span style="font-size: 0.8rem;">Score:&nbsp;</span>
                <span id="score" class="gameOneControll__title--score">0</span>&nbsp;
                <span style="margin-left: 10px;font-size: 0.8rem;">The Best:</span>&nbsp;
                <span id="theBest" class="gameOneControll__title--best">0&nbsp;</span>
            </div>
            <div class="gameOneControll__desc">
                <span class="gameOneControll__desc--col1">red</span>
                <span class="gameOneControll__desc--col2">green</span>
                <span class="gameOneControll__desc--col3">blue</span>
                <span class="gameOneControll__desc--col4">black</span>
            </div>
            <div id="board" class="gameOneControll__board"></div>
            <div class="gameOneControll__btn">
                <button id="btnLeft" class="gameOneControll__btn--left">L</button>
                <button id="btnChange" class="gameOneControll__btn--color">Change</button>
                <button id="btnRight" class="gameOneControll__btn--right">R</button>
            </div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('puzzleGameOne') }}
{% endblock %}
