{% extends 'base.html.twig' %}

{% block title %}GameOne{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('puzzleGameOne') }}
{% endblock %}

{% block body %}

    <main id="main" class="main">
        <div id="gameBox" class="gameOneControll">
            <div id="board" class="gameOneControll__board"></div>
            <div class="gameOneControll__btn">
                <button id="btnChange" class="gameOneControll__btn--left">Change</button>
            </div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('puzzleGameOne') }}
{% endblock %}
