{% extends 'base.html.twig' %}

{% block title %}GameOne{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('puzzleGameOne') }}
{% endblock %}

{% block body %}

    <main class="main">
    <div class="gameOneControll">
        1
    </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('puzzleGameOne') }}
{% endblock %}
