body {
  background-color: #222222;
}
.main {
  &__moves{
    text-align: center;
    color: white;
    font-size: 0.8rem;
    &__count{
      color: yellow;
      font-size: 1.5rem;
    }
  }
  &__btn{
    text-align: center;
  }
  &__reset{
    background-color: #555;
    color: #111;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
    margin: 280px auto 30px auto;
  }
}
.puzzle{
  margin: 30px auto;
  width:260px;
  background-color: #AAAAAA;
  position: relative;
  &__piece{
    cursor: pointer;
    border-radius: 10px;
    background-color: #AAAAAA;
    position: absolute;
    border: 1px solid white;
    min-width:80px;
    min-height: 80px;
    left: 1px;
    top: 1px;
    &__number{
      margin-top: 10px;
      text-align: center;
      font-size: 3rem;
      font-weight: bolder;
    }
  }
}
