{# Button for mobile menu #}
<nav id="nav-button" class="nav__button">
    <span class="nav__button__icon">
        <i class="fas fa-ellipsis-h"></i>
    </span>
</nav>
{# Mobile menu #}
<nav id="nav-mobile" class="nav__mobile">
    <ul class="nav__mobile__list">
        <li class="nav__mobile__list__item">
            <a class="nav__mobile__list__item__link" href=""></a>
        </li>
        <li class="nav__mobile__list__item">
            <i class="fas fa-caret-down mrc"></i>
            <a class="nav__mobile__list__item__link" href=""></a>
            <ul class="subNav__mobile subNav__mobile__hide">
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">game1</a>
                </li>
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 2</a>
                </li>
            </ul>
        </li>
        <li class="nav__mobile__list__item">
            <i class="fas fa-caret-down"></i>
            <a class="nav__mobile__list__item__link" href=""></a>
            <ul class="subNav__mobile subNav__mobile__hide">
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 1</a>
                </li>
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 2</a>
                </li>
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 3 link 2</a>
                </li>
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 4 link 2</a>
                </li>
                <li class="subNav_mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 1</a>
                </li>
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 2 link 2</a>
                </li>
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 3</a>
                </li>
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 4</a>
                </li>
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 1</a>
                </li>
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 2</a>
                </li>

            </ul>

        </li>
        <li class="nav__mobile__list__item">
            <i class="fas fa-caret-down"></i>
            <a class="nav__mobile__list__item__link" href=""></a>
            <ul class="subNav__mobile subNav__mobile__hide">
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 1</a>
                </li>
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 2</a>
                </li>
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 3 link 2</a>
                </li>
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 4 link 2</a>
                </li>
                <li class="subNav_mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 1</a>
                </li>
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 2 link 2</a>
                </li>
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 3</a>
                </li>
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 4</a>
                </li>
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 1</a>
                </li>
                <li class="subNav__mobile__item">
                    <a class="subNav__mobile__item__link" href="">link 2</a>
                </li>

            </ul>
        </li>
        <input class="nav__mobile__list__item__search" type="text" placeholder="search"/>
        <li class="nav__mobile__list__item">
            <span id="nav-close" class="nav__mobile__list__item__btn">&nbsp;X&nbsp;</span>
        </li>
    </ul>
</nav>
{# Ordinary Menu #}
<div class="nav__top"></div>
<nav id="nav-desktop" class="nav__desktop">
    <ul class="nav__desktop__list">
        <li class="nav__desktop__list__item">
            <a class="nav__desktop__list__item__link" href=""></a>
        </li>
        <li class="nav__desktop__list__item">
            <i class="fas fa-caret-down"></i>
            <ul class="subNav__desktop">
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">game1</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 2</a>
                </li>
            </ul>
            <a class="nav__desktop__list__item__link" href=""></a>
        </li>
        <li class="nav__desktop__list__item">
            <i class="fas fa-caret-down"></i>
            <ul class="subNav__desktop">
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 1</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 2</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 3 link 2</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 4 link 2</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 1</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 2 link 2</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 3</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 4</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 1</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 2</a>
                </li>

            </ul>
            <a class="nav__desktop__list__item__link" href=""></a>
        </li>
        <li class="nav__desktop__list__item">
            <i class="fas fa-caret-down"></i>
            <ul class="subNav__desktop">
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 1</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 2</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 3 link 2</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 4 link 2</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 1</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 2 link 2</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 3</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 4</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 1</a>
                </li>
                <li class="subNav__desktop__item">
                    <a class="subNav__desktop__item__link" href="">link 2</a>
                </li>

            </ul>
            <a class="nav__desktop__list__item__link" href=""></a>
        </li>
        <input class="nav__desktop__list__item__search" type="text" placeholder="search"/>

    </ul>
</nav>
<div class="nav__bottom"></div>
