<nav id="nav-button" class="nav__button">
    <span class="nav__button__icon">
        <i class="fas fa-ellipsis-h"></i>
    </span>
</nav>

<nav id="nav-mobile" class="nav__mobile">
    <ul class="nav__mobile__list">
        <li class="nav__mobile__list__item">
            <a class="nav__mobile__list__item__link" href="">link 1</a>
        </li>
        <li class="nav__mobile__list__item">
            <a class="nav__mobile__list__item__link" href="">link 2</a>
        </li>
        <li class="nav__mobile__list__item">
            <span id="nav-close" class="nav__mobile__list__item__btn">&nbsp;X&nbsp;</span>
        </li>
    </ul>
</nav>
