$bp-mobile: 2400px;

@media(max-width: $bp-mobile){
  .nav {
    &__button{
      left: 10px;
      top: 0;
      position: fixed;
      font-size: 2rem;
      color: #8dd;
      &__icon{
        cursor: pointer;
      }
    }
    &__mobile{
      border-radius: 0 10px 10px 0;
      padding: 10px;
      background-color: #222;
      margin-top: 5px;
      width:260px;
      &__list{
        list-style: none;
        &__item{
          text-align: center;
          margin: 10px;
          &__link{
            text-decoration: none;
            color: #ccc;
          }
          &__btn{
            color:white;
            opacity: 0.7;
            background-color: #777;
            cursor: pointer;
            border: 3px solid white;
            border-radius: 50%;
            font-size: 1.5rem;
          }
        }
      }
    }
  }

}


@media(min-width: $bp-mobile){
  .nav__button {
    display: none;
    visibility: hidden;
  }

}


