// screen breakpoint
$bp-mobile: 699px;
/**
Styles for Mobile navigation
 */

.nav {
  // mobile menu button
  &__button{
    left: 10px;
    top: 10px;
    position: fixed;
    font-size: 2rem;
    color: #222;
    &__icon{
      cursor: pointer;
    }
  }
  &__mobile{
    transform: translateX(-300px);
    padding: 10px;
    background-color: #111;
    min-height: 100vh;
    width:260px;
    &__list{
      & > li >i {
        margin-right: 20px;
        transform: rotate(-90deg);
        cursor:pointer;
      }
      &__item{
        text-align: center;
        margin: 25px auto;
        font-size: 1.7rem;
        color: white;
        &__search{
          margin: 10px;
          outline: none;
          text-align: center;
          padding: 5px;
        }
        &__link{
          text-decoration: none;
          color: #ccc;
        }
        // close button
        &__btn{
          color:white;
          opacity: 0.7;
          background-color: #777;
          cursor: pointer;
          border: 3px solid white;
          border-radius: 50%;
          font-size: 1.5rem;
        }
      }
    }
  }
}

/**
Hide mobile menu button at certain resolution
 */
@media(min-width: $bp-mobile){
  .nav{
    &__button{
      display: none;
      visibility: hidden;
    }
    &__mobile{
      display: none;
      visibility: hidden;
    }
  }
}
/**
Hide desktop nav at certain resolution
 */
@media(max-width: ($bp-mobile)){
  .nav{
    &__desktop{
      display: none;
      visibility: hidden;
      &__list{
        list-style: none;
        &__item{
          position: relative;
          text-align: center;
          margin: 20px 10px;
          &__link{
            text-decoration: none;
            color: #ccc;
          }
        }
      }
    }

  }
}
/**
Styles for desktop navigation
 */
.nav{
  @media(min-width: $bp-mobile){
    &__top{
      opacity: .8;
      height: 8px;
      background-color: #444;
      border-bottom: 1px solid white;
      border-top: 1px solid black;
    }
    &__bottom{
      opacity: .8;
      height: 8px;
      background-color: #444;
      border-top: 1px solid white;
      border-bottom: 1px solid black;
    }
  }

  &__desktop{
    background-color: #111;
    &__list{
      display: flex;
      justify-content: space-around;
      list-style: none;
      & > li > i {
        cursor: pointer;
        transform: rotate(-90deg);
        color: #ddd;
      }
      &__item{
        margin: 10px 20px;
        &__link{
          text-decoration: none;
          color: #ddd;
        }
        &__search{
          border: 1px solid #2d6427;
          margin: 3px;
          text-align: center;
          outline: none;
        }
      }
    }

  }
}

.subNav {
  &__desktop{
    border-radius: 5px;
    background-color: #111;
    padding: 10px;
    max-height: 320px;
    min-width: 160px;
    transform: translateY(-380px);
    list-style: none;
    z-index: 1;
    position: absolute;
    &__item{
      margin: 10px;
      text-align: center;
      &__link{
        font-size: 0.9rem;
        text-decoration: none;
        color: #ccc;
      }
    }
  }
}

.subNav {
  &__mobile{
    margin:10px;
    max-height: 1000px;
    border-radius: 5px;
    background-color: #222;
    padding: 10px;
    color: #ccc;
    list-style: none;
    overflow: hidden;
    &__item{
      margin: 15px;
      text-align: center;
      &__link{
        font-size: 0.8rem;
        text-decoration: none;
        color: #ccc;
      }
    }
    &__hide{
      display: none;
      visibility: hidden;
    }
  }
}

