// screen breakpoint
$bp-mobile: 699px;
/**
Styles for Mobile navigation
 */

.nav {
  // mobile menu button
  &__button{
    left: 10px;
    top: 10px;
    position: fixed;
    font-size: 2rem;
    color: #222;
    &__icon{
      cursor: pointer;
    }
  }
  &__mobile{
    position: fixed;
    padding: 10px;
    background-color: #222;
    height: 100vh;
    width:260px;
    left:-270px;
    &__list{
      & > li >i {
        transform: rotate(-90deg);
        cursor:pointer;
      }
      list-style: none;
      text-align: center;
      &__item{
        text-align: center;
        margin: 20px auto;
        color: white;
        &__search{
          margin: 10px;
          outline: none;
          text-align: center;
          padding: 5px;
        }
        &__link{
          text-decoration: none;
          color: #ccc;
        }
        // close button
        &__btn{
          color:white;
          opacity: 0.7;
          background-color: #777;
          cursor: pointer;
          border: 3px solid white;
          border-radius: 50%;
          font-size: 1.5rem;
        }
      }
    }
  }
}

/**
Hide mobile menu button at certain resolution
 */
@media(min-width: $bp-mobile){
  .nav{
    &__button{
      display: none;
      visibility: hidden;
    }
    &__mobile{
      display: none;
      visibility: hidden;
    }
  }
}
/**
Hide desktop nav at certain resolution
 */
@media(max-width: ($bp-mobile)){
  .nav{
    &__desktop{
      display: none;
      visibility: hidden;
      &__list{
        list-style: none;
        &__item{
          text-align: center;
          margin: 20px 10px;
          &__link{
            text-decoration: none;
            color: #ccc;
          }
        }
      }
    }

  }
}
/**
Styles for desktop navigation
 */
.nav{
  @media(min-width: $bp-mobile){
    &__top{
      opacity: .8;
      height: 8px;
      background-color: #a7a7a7;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
    }
    &__bottom{
      opacity: .8;
      height: 8px;
      background-color: #a7a7a7;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }

  &__desktop{
    background-color: #ddd;
    &__list{
      display: flex;
      justify-content: space-around;
      list-style: none;
      & > li > i {
        cursor: pointer;
        transform: rotate(-90deg);
      }
      &__item{
        margin: 10px 20px;
        &__link{
          text-decoration: none;
          color: #111;
        }
        &__search{
          border: 1px solid #2d6427;
          margin: 3px;
          text-align: center;
          outline: none;
        }
      }
    }

  }
}

